<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGoogleServlet</display-name>
    <servlet-name>LoginGoogleServlet</servlet-name>
    <servlet-class>servlets.LoginGoogleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGoogleServlet</servlet-name>
    <url-pattern>/LoginGoogleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacebookLoginServlet</display-name>
    <servlet-name>FacebookLoginServlet</servlet-name>
    <servlet-class>servlets.FacebookLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookLoginServlet</servlet-name>
    <url-pattern>/facebook_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleCalendarEventsServlet</display-name>
    <servlet-name>GoogleCalendarEventsServlet</servlet-name>
    <servlet-class>servlets.GoogleCalendarEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarEventsServlet</servlet-name>
    <url-pattern>/GoogleCalendarEventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatGPTServlet</display-name>
    <servlet-name>ChatGPTServlet</servlet-name>
    <servlet-class>servlets.ChatGPTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatGPTServlet</servlet-name>
    <url-pattern>/ChatGPTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoogleCredentialServlet</display-name>
    <servlet-name>GetGoogleCredentialServlet</servlet-name>
    <servlet-class>servlets.GetGoogleCredentialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoogleCredentialServlet</servlet-name>
    <url-pattern>/GetGoogleCredentialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleAddEventServlet</display-name>
    <servlet-name>GoogleAddEventServlet</servlet-name>
    <servlet-class>servlets.GoogleAddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleAddEventServlet</servlet-name>
    <url-pattern>/GoogleAddEventServlet</url-pattern>
  </servlet-mapping>
</web-app>