<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project_Web</display-name>
  <welcome-file-list>
    <welcome-file>CongViecServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CongViecServlet</display-name>
    <servlet-name>CongViecServlet</servlet-name>
    <servlet-class>servlets.CongViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CongViecServlet</servlet-name>
    <url-pattern>/CongViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangCongViecServlet</display-name>
    <servlet-name>DangCongViecServlet</servlet-name>
    <servlet-class>servlets.DangCongViecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangCongViecServlet</servlet-name>
    <url-pattern>/DangCongViecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCVServlet</display-name>
    <servlet-name>LoadCVServlet</servlet-name>
    <servlet-class>servlets.LoadCVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCVServlet</servlet-name>
    <url-pattern>/LoadCVServlet</url-pattern>
  </servlet-mapping>
</web-app>